.card {
  width: 10%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
}
.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
